.header {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: baseline;

  &__site-heading {
    $titleGrowsFontSize: 25rem;

    font-family: $font--accent;
    text-transform: lowercase;
    margin: 1rem;
    margin-top: 0;
    font-size: 1.5rem;

    @media (min-width: $titleGrowsFontSize) {
      font-size: 2rem;
    }

    & a {
      &:link,
      &:visited {
        text-decoration: none;
        color: $dark;
      }

      &:hover,
      &:active {
        color: $accent;
        text-decoration: underline;
      }
    }
  }
}
