.listing {
  $listingGrowsFontSize: 30.125rem;

  min-width: 80%;
  margin: {
    left: $mobile-padding;
    right: $mobile-padding;
  }

  &__title {
    margin-bottom: 0;
    font-size: 1.25rem;

    @media (min-width: $listingGrowsFontSize) {
      font-size: 1.5rem;
    }
  }

  &__meta {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-width: 9rem;
  }

  &__date,
  &__author {
    font-size: 0.8125rem;
    color: lighten($dark, 10%);
    margin-top: 0.25rem;
  }

  &__date {
    &::after {
      content: '❤';
      margin: 0.5rem;
    }
  }

  &__author {
    text-transform: capitalize;

    @include color-modifiers;
  }

  &__description {
    max-width: 35rem;
    font-size: 16px;
  }
}
