.header {
  display: flex;
  background-color: white;
  justify-content: space-between;
  margin-bottom: 1rem;
  min-height: 3em;

  &__site-heading {
    $titleGrowsFontSize: 30.125rem;

    font-family: $font--accent;
    text-transform: lowercase;
    margin: $mobile-padding;
    margin-top: 0;
    font-size: 1.5rem;

    @media (min-width: $pad-mobile-edges) {
      margin-left: 0;
    }

    @media (min-width: $titleGrowsFontSize) {
      font-size: 2rem;
    }

    & a {
      &:link,
      &:visited {
        text-decoration: none;
        color: $dark;
      }

      &:hover,
      &:active {
        color: $accent;
        text-decoration: underline;
      }
    }
  }
}
