// Font Import
@import url('https://fonts.googleapis.com/css?family=Montserrat|Special+Elite&display=swap&subset=latin-ext');

// Font Family
$font--accent: 'Special Elite', Georgia, 'Times New Roman', serif;
$font--primary: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;

body {
  font-family: $font--primary;
  font-size: 16px;
}

h1 {
  font-family: $font--accent;
  font-size: 1.5rem;
}

a {
  transition: all 250ms ease;
  &:link,
  &:visited {
    color: $c-link;
  }
  &:hover,
  &:active {
    text-decoration: none;
    color: $c-link--hover;
  }
}

blockquote {
  border-left: 5px solid $theme;
  padding-left: 1rem;
  max-width: $max-text-width;
  box-sizing: border-box;
  margin: {
    top: 2rem;
    bottom: 2rem;
    left: 0;
    right: 0;
  }
}

.image-caption {
  font-size: 0.85rem;
  text-align: center;
  font-style: italic;
}
