// Grayscale Function
@function gray($level) {
  @return lighten(black, $level * 1%);
}

// Named Colors
$abyss: #191919;
$rose: #BE4152;
$castle: #696D7D;
$viridian: #5a7066;
$mist: #FBFEF9;

// Theme Colors
$light: $mist;
$mid: $castle;
$dark: $abyss;
$theme: $viridian;
$accent: $rose;

// People Colors

$personas: (
  jane: #008080,
  elizabeth: #498147,
  mary: #8D3B72,
  catherine: #8E3B46,
  lydia: #7752a5,
  guest: #1F487E,
  darcy: #b65b36,
  charlotte: #4e7597,
  all: $theme
);

// Functional Colors
$c-main--dark: $dark;

$c-text: $dark;
$c-text--light: $light;

$c-link: $theme;
$c-link--hover: $dark;

$c-header-background: lighten($theme, 50%); 


// Color Mixin

@mixin color-modifiers {
  @each $name, $hex in $personas {
    &--#{$name} {
      color: $hex;
    }
  }
}
